body{
    margin: 0px;
    font-family: Araial, sans-serif;
}
.container{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    background-color: black;
    color: white;
    width: 120px;
    padding: 30px;
}
.sidebar a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 8px;
    border-radius: 6px;
}
.sidebar a:hover{
    background-color: #333;
}
.sidebar a.active{
    border-right: 4px solid white;
    border-radius: 6px;
}
.main{
    flex-grow: 1;
    padding: 30px;
}