body{
    background-color: cyan;
}
header{
    height: 100px;
    width: 100%;
    background-color: yellow;
    text-align: center;
}
aside{
    height: 700px;
    width: 15%;
}
aside.right{
    background-color: orange;
    float:right;
}
aside.left{
    background-color: orange;
    float:left;
}
div.hehe{
    width: 90%;
    background-color: brown;
    height: 700px;
}

footer{
    height: 150px;
    width: 50%;
    text-align: center;
}
footer.left{
    background-color: lightpink;
    float:left;
}
footer.right{
    background-color: gray;
    float:right;
}